.box {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  margin: 35vh auto 0;
  padding: 24px;
  opacity: 0.9;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.request__cep {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.request__cep input {
  background: black;
  border-radius: 4px;
  color: rgb(47, 255, 47);
  padding: 8px 16px;
}

.cep {
  margin-top: 16px;
}

.cep span {
  color: white;
}

/* Estilos para telas com largura máxima de 768px (tablets) */
@media (max-width: 768px) {
  .box {
    margin-top: 20vh;
    backdrop-filter: none;
  }
}

/* Estilos para telas com largura máxima de 480px (smartphones) */
@media (max-width: 480px) {
  .box {
    margin-top: 10vh;
    padding: 12px;
  }

  .request__cep input {
    font-size: 14px;
    padding: 6px 12px;
  }

  .cep {
    margin-top: 8px;
  }
}
